{% extends 'Home/base.html' %}
<!DOCTYPE html>
<html lang="en">

<body>

{% block content %}
  
<div class="container">
  <h2>Madaraka University</h2>
 
  
  
  <p>Strengthning your minds.</p>
  <div class="t">
    <h3>
      Guidance
    </h3>
    <p> <b>a-</b>Before registering for units you must report first</p>
  </div>
  <div class="">
    <p><b>b-</b>You can only register 5 units</p>
  </div>
  <div class="text">
    <p><b>c-</b>once registered wait for approval from admin</p>
  </div>
  <div class="text">
    <p><b>d-</b>new registered students must go to their profile and edit the correct details</p>
  </div>
  <div class="text">
    <p></p>
  </div>
          
</div>
{% endblock %}
</body>
</html>
