{% extends 'Home/base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<body>

{% block content %}
{% if user.units.approved == True %}
<h4>APPROVED</h4>
  
<div class="container" style="color: green;">
  <h3>{{ user.units.unit1 }}</h3>
  <h3>{{ user.units.unit2 }}</h3>
  <h3>{{ user.units.unit3 }}</h3>
  <h3>{{ user.units.unit4 }}</h3>
  <h3>{{ user.units.unit5 }}</h3>
  
</div>
{% else %}
<div class="container" >
  <h4>AWAITING APPROVAL</h4>
  <h3>{{ user.units.unit1 }}</h3>
  <h3>{{ user.units.unit2 }}</h3>
  <h3>{{ user.units.unit3 }}</h3>
  <h3>{{ user.units.unit4 }}</h3>
  <h3>{{ user.units.unit5 }}</h3>
  
</div>
{% endif %}

{% endblock %}
</body>
</html>
